body{
  background-color: rgb(25,25,25);
  color: white;
  font-family: arial;

}

.game-interface{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.game-top{
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin-bottom: 100px;
}

.game-middle{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 100px;
  
}

.game-botton{
  margin: auto;
}

.game-autoplay{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  text-align: end;
  margin-right: 20px;
  margin-bottom: 100px;
}

.reset-button,
.autoPlay-button{
  background-color: white;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 14px;
  border: none;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
}

.move-icon{
  height: 50px;
}

.move-button{
  background-color: transparent;
  border: 3px solid white;
  /* padding: 30px; */
  width: 120px;
  height: 120px;
  border-radius: 100px;
  margin-right: 10px;
  cursor: pointer;

}

.result{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 90px;
}

.moves{
  font-size: 20px;
  font-weight: bold;
}

.link-index{
  text-decoration: none;
  color: white;
}

/* responsive design */

@media (max-width: 760px){
  .game-top{
    flex-direction: column;
  }

  .game-autoplay{
    text-align: center;
    margin-top: 40px;
  }

  .move-icon{
    height: 30px;
  }

  .move-button{
    width: 90px;
  height: 90px;
  border-radius: 100px;
  }

}